// constants
$width-content: 1200px;

$body-color: #f1f1f1;
$color-green: #19cbac;
$color-green-shadow: #3cb19d9f;
$color-grey: #616362;
$color-white: white;
$color-black: black;

$border-radius: 50%;