@import "../../styles-general/variables.scss";

.form {
  background-color: $color-white;
  padding: 7rem;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  font-size: 1.4rem;
}

.form-registrashion {
  width: 27.5rem;

  & h1,
  & .radio-group,
  & label {
    margin-bottom: 2rem;
  }
  
  & .list {
    margin-bottom: 4rem;
  }
  
  & label {
    display: block;
  }
}