@import "../../styles-general/variables.scss";
@import "../../styles-general/normalize.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

html {
  font-size: 10px;
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  height: 100%;
  overflow-x: hidden;
  background-color: $body-color;
}
// прижать футер к нижнему краю
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: auto;
}

.container {
  max-width: $width-content;
  margin: 0 auto;
  padding: 0 2rem;
}
.main-content {
  & .form-wayregistrashion {
    margin-top: 7rem;
  }
  & .form-registrashion {
    margin-top: 4rem;
  }
}
button {
  border: none;
  cursor: pointer;
}
.button-submit {
  min-width: 10rem;
  padding: 1.1rem;
  text-decoration: none;
  text-align: center;
  border-radius: 0.4rem;
  background: $color-green;
  color: $color-white;
  font-size: 1.8rem;
  box-shadow: 0 2px 0 $color-green-shadow;
  transition: 0.3s;
  &:hover {
    background-color: $color-green-shadow;
  }
}
