@import "../../styles-general/variables.scss";

.header {
  display: flex;
  min-height: 8rem;
  background: $body-color;
  width: 100%;
  border-bottom: 2px solid $color-green;
}
.logo {
  background: $color-green;
  width: 43%;
  margin-left: auto;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::after {
    position: absolute;
    right: -5rem;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8rem 5rem 0 0;
    border-color: $color-green transparent transparent transparent;
  }
}
.logo__text {
  margin-left: auto;
  padding-right: 1.8rem;
  color: $color-white;
  font-size: 3rem;
  font-weight: 700;
}
.nav {
  display: flex;
  width: 70%;
  background: $body-color;
  align-items: center;
  padding-left: 6rem;
}
.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav__item {
  text-decoration: none;
  color: $color-grey;
  font-size: 1.8rem;
  padding: 7px 20px 7px 20px;
  & + & {
    margin-left: 2rem;
  }
  &:hover {
    color: $color-green;
  }
  &.active {
    color: $color-white;
    position: relative;
    overflow: hidden;
    z-index: 10;
    // margin-left: 2rem;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      z-index: -1;
      width: 90px;
      height: 35px;
      background-color: $color-green;
      transform: skew(-30deg);
      padding: 0 10px;
    }
    & + .nav__list {
      margin-left: 2rem;
    }
  }
}
