@import "../../styles-general/variables.scss";

.footer {
  border-top: 1px solid $color-grey;
  font-size: 1.4rem;
  color: $color-grey;
  letter-spacing: 0.3px;
}
.footer-container {
  display: flex;
  align-items: center;
  min-height: 8rem;
  width: 100%;
}
.footer__made {
  margin-left: auto;
}
.footer__nav {
    display: flex;
    width: 70%;
    padding-left: 5rem;
    list-style: none;
  }
.footer-nav__item {
  text-decoration: none;
  color: $color-grey;
  padding-right: 2rem;
  &:hover {
    color: $color-green;
  }
  &.active {
  }
}

